{% extends 'base.html.twig' %}
{% block body_class %}form-recipe edit-recipe{% endblock %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div id="app">
        <div class="recipe-header">
            <h1>${ recipe.title }</h1>
            <div class="header-bg" style="background-image:url({{ asset('images/backgrounds/raspberry-cheesecake-with-grand-marnier.jpg') }})"></div>
        </div>
        <div class="container">
            {{ form_start(form, {'attr': {'class': 'flex-container'}}) }}
            <div class="half-width">
                <h3>Prototype</h3>

                {{ form_row(form.name, {'attr': {'v-model': 'recipe.title'}}) }}
                {{ form_row(form.intro) }}
                {{ form_row(form.numberPeople) }}
                {{ form_row(form.minutes) }}
                {{ form_row(form.link) }}

            </div>
            <div class="half-width">
                <h3>Illustrate</h3>
                {% if recipe.mainImage %}
                    <img class="entity-img" src="{{ asset('uploads/images/recipes/'~ recipe.mainImage ~'') }}" alt="{{ recipe.name }}">
                {% endif %}
                {{ form_row(form.mainImageFile) }}
                <h3>Define</h3>
                <label>Country</label>
                {{ form_widget(form.country, {'attr': {'class': 'half-width'}}) }}

                <div id="ingredients" class="fluid-elements">
                    <ul id="ingredients-fields-list"
                        data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype)|e }}">
                        {% for ingField in form.recipeIngredients %}
                            <li>
                                {{ form_errors(ingField) }}
                                {{ form_widget(ingField) }}
                                <a href="#" class="del-another-el"></a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="#" class="add-another-el">Add ingredient</a>
                </div>



            </div>
            <div class="full-width">
                <h3>Explain</h3>
                <div id="steps" class="fluid-elements">
                    <ul id="steps-fields-list"
                        data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e }}">
                        {% for stepField in form.recipeSteps %}
                            <li>
                                {{ form_errors(stepField) }}
                                {{ form_widget(stepField) }}
                                <a href="#" class="del-another-el"></a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="#" class="add-another-el">Add Step</a>
                </div>
            </div>
            {{ form_widget(form.save) }}
            <div class="hidden-fields">{{ form_rest(form) }}</div>
            {{ form_end(form) }}

        </div>
    </div>
    <script>

    </script>
{% endblock %}
{% block javascripts %}

    <script>
        let SfRecipe = {
            title: "{{ recipe.name|trim('\n') }}"
        }
    </script>
{% endblock %}