{% extends 'base.html.twig' %}
{% block title %}All recipes{% endblock %}
{% block body_class %}all-recipe{% endblock %}

{% block body %}
    <div class="container">
        <section class="general-list">
            {% if recipes %}
                {% for r in recipes %}
                    <article>
                        <div class="recipe-bg" style="{% if  r.mainImage is not null %}background-image: url({{ asset('uploads/images/recipes/'~ r.mainImage ~'') }}){% endif %}"></div>
                        <div class="caption">
                            <h2>{{ r['name'] }}</h2>
                            <p>
                                {% if r['country'] is not null %}
                                    {{ r['country'].name }} -
                                {% endif %}
                                {{ r['createdAt']|date('M Y') }}
                            </p>
                            <a href="{{ path('recipe_show', {'slug': r['slug']}) }}">View more</a>
                        </div>
                    </article>

                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}