{% extends 'base.html.twig' %}
{% block body_class %}show-recipe{% endblock %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="recipe-wrapper">
            {% if recipe %}
                <img id="recipe-img" src="{{ asset('uploads/images/recipes/'~ recipe.mainImage ~'') }}" alt="{{ recipe.name }}">
                <div class="recipe-top-info">
                    <h1>{{ recipe.name }}</h1>
                    <div class="recipe-desc">
                        <p>For <span class="blue-text">{{ recipe.numberPeople }}</span> person{% if recipe.numberPeople > 1 %}s{% endif %}</p>
                        <p>Takes about <span class="blue-text">{{ recipe.minutes }}</span> minutes</p>
                        {% if recipe.link %}
                            <p>Inspired by this <a href="{{ recipe.link }}" target="_blank">recipe</a></p>
                        {% endif %}
                    </div>
                    <h2>Introduction</h2>
                    <p>{{ recipe.intro }}</p>

                </div>

                <div id="instructions">
                    <div id="steps">
                        <h3>Steps</h3>
                        <ul>
                            {% if recipe.recipeSteps %}
                                {% for s in recipe.recipeSteps %}
                                    <li>{{ s.instruction }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div id="ingredients">
                        <h3>Ingredients</h3>
                        <ul>
                            {% if recipe.recipeIngredients %}
                                {% for i in recipe.recipeIngredients %}
                                    <li>
                                        <div class="ing-name">{{ i.ingredientName }}</div>
                                        <div class="ing-quantity"> {{ i.quantity }}</div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="fixed-info">
                    <i></i>
                    <a href="{{ path('recipe_edit', {'slug': recipe.slug}) }}">
                        Edit this recipe
                    </a>
                </div>
                <div class="fixed-info" id="delete-recipe">
                    <i></i>
                    <a href="{{ path('recipe_delete', {'slug': recipe.slug}) }}">
                        Delete this recipe
                    </a>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}