{% extends 'base.html.twig' %}
{% block body_class %}show-recipe{% endblock %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="recipe-wrapper">
            {% if recipe %}
                <img id="recipe-img" src="{{ asset('uploads/images/recipes/'~ recipe.mainImage ~'') }}" alt="{{ recipe.name }}">
                <div class="recipe-top-info">
                    <h1>{{ recipe.name }}</h1>
                    <p>For {{ recipe.numberPeople }} person{% if recipe.numberPeople > 1 %}s{% endif %}</p>
                    <p>Takes about {{ recipe.minutes }} minutes</p>
                </div>


                    <div id="steps">
                        <h2>Introduction</h2>
                        <p>{{ recipe.intro }}</p>
                        <h2>Steps</h2>
                        <ul>
                            {% if recipe.recipeSteps %}
                                    {% for s in recipe.recipeSteps %}
                                        <li>{{ s.instruction }}</li>
                                    {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

            {% endif %}
        </div>
    </div>

{% endblock %}