{% extends 'base.html.twig' %}
{% block body_class %}edit-country{% endblock %}
{% block title %}Edit country{% endblock %}

{% block body %}
    <div id="app">
        <div class="container">
                {{ form_start(form, {'attr': {'class': 'flex-container'}}) }}
                <h1>Edit country {{ country.name }}</h1>
                <div class="half-width">
                    {{ form_row(form.name) }}
                    {{ form_row(form.nameJa) }}
                    {{ form_row(form.imageFile) }}
                    {% if country.image %}
                        <h3>Current Main Image</h3>
                        <img class="entity-img" src="{{ asset('uploads/images/countries/'~ country.image ~'') }}" alt="{{ country.name }}">
                    {% endif %}

                    {{ form_row(form.flagImageFile) }}
                    {% if country.flagImage %}
                        <h3>Current Flag Image</h3>
                        <img class="entity-img" src="{{ asset('uploads/images/countries/flags/'~ country.flagImage ~'') }}" alt="{{ country.name }}">
                    {% endif %}

                    {{ form_widget(form.save) }}

                </div>


                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}